body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navBar, .adminHeader {
    background-color: #2D3C5C;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    .navBarItem {
        font-size: 16px;
        padding: 14px 16px;
        margin: 0px 10px 0px 10px;
        text-decoration: none;
        color: #E5DCDD;
        &:hover {
            color: white;
            background-color: #4D9AAD;
        }
    }
    .navBarHeader {
        color: #FFFFFF;
        font-size: 26px;
        margin: 0px 20px 0px 20px;
    }
    button {
        padding: 14px 16px;
        justify-content: flex-end;
        border: none;
        margin: 0;
        font-size: 16px;
        text-decoration: none;
        background: #2D3C5C;
        color: #E5DCDD;
        cursor: pointer;
        text-align: center;
        -webkit-appearance: none;
        -moz-appearance: none;
        &:hover {
            color: white;
            background: #4D9AAD;
        }
    }
}

.pageTitle {
    margin: 20px;
}

.chapter {
    margin: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    p {
        margin: 50px;
        word-wrap: break-word; 
        white-space: pre-wrap;
        width: 60%;
    }
}