.dropdownMenu {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: stretch;
    text-align: center;
    width: 73px;
    right: 24px;
    top: 46.29px;
    padding: 16px 16px;
    border-radius: 5px;
    background-color: #3e527c;
    .dropdownItem {
        border-radius: 5px;
        padding: 14px 16px;
        font-size: 16px;
        text-decoration: none;
        color: #E5DCDD;
        &:hover {
            border-radius: 5px;
            color: white;
            background-color: #4D9AAD;
        }
    }
    button {
        border-radius: 5px;
        padding: 14px 12px;
        justify-content: flex-end;
        border: none;
        font-size: 16px;
        text-decoration: none;
        background: #3e527c;
        color: #E5DCDD;
        cursor: pointer;
        text-align: center;
        -webkit-appearance: none;
        -moz-appearance: none;
        &:hover {
            border-radius: 5px;
            color: white;
            background: #4D9AAD;
        }
    }    
}

.adminSidebar {    
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: stretch;
    text-align: center;
    word-wrap: break-word;
    height: 100%;
    min-width: 120px;
    top: 46.29px;
    background-color: #3e527c;
    .links {
        flex-direction: column;
        display: flex;
        .navBarItem {
            padding: 14px 16px;
            font-size: 16px;
            text-decoration: none;
            color: #E5DCDD;
            &:hover {
                color: white;
                background-color: #4D9AAD;
            }
        }
    }
}

.navBar {
    background-color: #2D3C5C;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    button {
        padding: 14px 16px;
        justify-content: flex-end;
        border: none;
        font-size: 16px;
        text-decoration: none;
        background: #2D3C5C;
        color: #E5DCDD;
        cursor: pointer;
        text-align: center;
        -webkit-appearance: none;
        -moz-appearance: none;
        &:hover {
            color: white;
            background: #4D9AAD;
        }
    }
    .dropdownButton {
        margin-left: auto;
        margin-right: 24px;
    }
    .links {
        padding: 14px 16px;
        .navBarItem {
            padding: 14px 16px;
            font-size: 16px;
            margin: 0px 10px 0px 10px;
            text-decoration: none;
            color: #E5DCDD;
            &:hover {
                color: white;
                background-color: #4D9AAD;
            }
        }
    }
    .navBarHeader {
        color: #FFFFFF;
        font-size: 26px;
        margin: 0px 20px 0px 20px;
    }
}

.adminHeader {   
    z-index: 10; 
    background-color: #2D3C5C;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;    
    button {
        padding: 14px 16px;
        border: none;
        font-size: 16px;
        text-decoration: none;
        background: #2D3C5C;
        color: #E5DCDD;
        cursor: pointer;
        text-align: center;
        -webkit-appearance: none;
        -moz-appearance: none;
        &:hover {
            color: white;
            background: #4D9AAD;
        }
    }    
    .links {
        padding: 14px 0px;
        .navBarItem {
            padding: 14px 16px;
            font-size: 16px;
            margin: 0px;
            text-decoration: none;
            color: #E5DCDD;
            &:hover {
                color: white;
                background-color: #4D9AAD;
            }
        }
    }
}

.sidebar {    
    display: none;
    flex-direction: column;
    position: fixed;
    align-items: stretch;
    text-align: center;
    word-wrap: break-word;
    height: 100%;
    min-width: 120px;
    top: 46.29px;
    left: 0;
    background-color: #3e527c;
    .links {
        flex-direction: column;
        display: flex;
        background-color: #3e527c; 
        .navBarItem {
            padding: 14px 16px;
            font-size: 16px;
            text-decoration: none;
            color: #E5DCDD;
            &:hover {
                color: white;
                background-color: #4D9AAD;
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .mainCont {
        margin-left: 120px;
    }
    .navBar {
        .links {
            display: none;
        }
    }
    .sidebar {
        display: flex;
    }
}